@import '../../base/tools/variables.scss';

.table {
    border: 1px solid $gray-300;
    border-collapse: collapse;
    
    &-row {
        border-bottom: 1px solid $gray-300;
        grid-template-columns: repeat(4, 1fr);
    }

    &-cell {
        padding: 10px;
    }
}