@import '../../base/tools/variables.scss';
@import '../../base/tools/breakpoints.scss';

.table {
    width: 100%;
    border-collapse: collapse;

    @include for-tablet-landscape-up {
        border-top: 1px solid $gray-300;
        border-left: 1px solid $gray-300;
        border-right: 1px solid $gray-300;
    }

    &-row {
        display: grid;
        align-items: center;
        border-top: 1px solid $gray-300;
        border-left: 1px solid $gray-300;
        border-right: 1px solid $gray-300;
        margin-bottom: 18px;

        @include for-tablet-landscape-up {
            grid-template-columns: repeat(4, 1fr);
            border-top: none;
            border-left: none;
            border-right: none;
            border-bottom: 1px solid $gray-300;
            align-items: stretch;
            margin-bottom: 0;
        }
    }

    &-cell {
        padding: 10px 15px;
        border-bottom: 1px solid $gray-300;

        @include for-tablet-landscape-up {
            border-bottom: none;
        }

        &::before {
            content: attr(data-label);
            text-transform: capitalize;
            font-weight: bold;
            color: $gray-800;
            font-size: 16px;

            @include for-tablet-landscape-up {
                content: '';
                position: absolute;
            }
        }
    }

    &-header {
        display: none;

        @include for-tablet-landscape-up {
            display: block;
        }

        &-cell {
            box-sizing: border-box;
            padding: 15px;
            width: 100%;
            justify-self: start;

            &:hover {
                background: $gray-200;
                cursor: pointer;
            }
        }
    }
}
