@import '../../base/tools/variables.scss';
@import '../../base/tools/breakpoints.scss';

.table {
    border: 1px solid $gray-300;
    border-collapse: collapse;

    &-row {
        border-bottom: 1px solid $gray-300;
        display: grid;

        @include for-tablet-landscape-up {
            grid-template-columns: repeat(4, 1fr);
        }
    }

    &-cell {
        padding: 10px 15px;

        &::before {
            content: attr(data-label);
            text-transform: capitalize;
            font-weight: bold;

            @include for-tablet-landscape-up {
                content: '';
            }
        }
    }

    &-header {
        display: none;

        @include for-tablet-landscape-up {
            display: block;
        }

        &-cell {
            &:hover {
                background: $gray-200;
                cursor: pointer;
            }
        }
    }
}
