@import '../../base/tools/breakpoints.scss';
@import '../../base/tools/mixins.scss';

.transactions-table-gateway {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr min-content max-content;

    @include for-tablet-landscape-up {
        grid-template-columns: min-content 1fr;
    }

    &-wrapper {
        padding-right: 10px;
    }
}
