@import '../../base/tools/variables.scss';
@import '../../base/tools/mixins.scss';
@import '../../base/tools/breakpoints.scss';

.transactions-table-amount {
    position: relative;
    display: flex;
    justify-content: space-between;

    @include for-tablet-landscape-up {
        align-items: start;
        flex-direction: column;
    }

    &-value {
        padding-right: 5px;
        font-weight: bold;
        font-size: 20px;
    }

    &-incoming,
    &-outgoing {
        &::before {
            content: '';
            width: 0;
            height: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            position: absolute;
            left: 145px;
            top: 22px;

            @include for-tablet-landscape-up {
                left: -18px;
                top: 38px;
            }
        }
    }

    &-incoming {
        color: $green-500;

        &::before {
            border-bottom: 5px solid $green-500;
        }
    }

    &-outgoing {
        color: $red-500;

        &::before {
            border-top: 5px solid $red-500;
        }
    }
}
