@import '../../base/tools/variables.scss';
@import '../../base/tools/mixins.scss';
@import '../../base/tools/breakpoints.scss';

.transactions-table-amount {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-size: 20px;

    @include for-tablet-landscape-up {
        display: grid;
        grid-template-columns: repeat(2, min-content);
        grid-column-gap: 8px;
        justify-content: start;
        align-items: center;
    }

    &-wrapper,
    &-currency {
        order: 1;
    }

    &-value,
    &-currency {
        font-size: 16px;
        font-weight: normal;
    }

    &-value {
        padding-right: 5px;
        grid-column: 1 / span 2;
        order: 2;
        color: $gray-800;
    }

    &-incoming,
    &-outgoing {
        position: relative;

        &::before {
            content: '';
            width: 0;
            height: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            position: absolute;
            left: -20px;
            top: 12px;

            @include for-tablet-landscape-up {
                top: 22px;
            }
        }
    }

    &-incoming {
        color: $green-500;

        &::before {
            border-bottom: 5px solid $green-500;
        }
    }

    &-outgoing {
        color: $red-500;

        &::before {
            border-top: 5px solid $red-500;
        }
    }
}
