@import '../../base/tools/variables.scss';
@import '../../base/tools/breakpoints.scss';

.transactions-table {
    display: flex;
    justify-content: center;
    text-align: left;
    max-width: 1000px;
    margin: 120px 20px;

    @include for-desktop-up {
        margin: 120px auto;
    }

    &-source {
        display: grid;
        grid-auto-flow: column;
        align-items: center;
        grid-template-columns: min-content 1fr;
    }
}
