@import '../../base/tools/variables.scss';
@import '../../base/tools/breakpoints.scss';

.transactions-table {
    display: flex;
    justify-content: center;
    margin-top: 120px;
    text-align: left;

    &-source {
        display: grid;
        grid-auto-flow: column;
        align-items: center;
        grid-template-columns: min-content 1fr;
    }

    &-category {
        justify-self: end;

        &-wrapper {
            border: 1px solid $purple-600;
            background: $purple-100;
            color: $purple-600;
            padding: 5px;
            border-radius: 4px;
        }
    }

    &-date {
        color: $gray-800;
        padding: 10px;
        background: $gray-200;
        font-weight: bold;
        display: grid;
        align-items: center;
        grid-template-columns: repeat(2, 1fr);

        @include for-tablet-landscape-up {
            grid-auto-flow: row;
            grid-template-columns: auto;
        }
    }
}
