@import '../../base/tools/variables.scss';
@import '../../base/tools/mixins.scss';
@import '../../base/tools/breakpoints.scss';

.transactions-table-amount {
    display: grid;
    grid-template-columns: 1fr repeat(3, min-content);
    align-items: center;
    grid-column-gap: 10px;
    font-weight: bold;
    font-size: 20px;

    @include for-tablet-landscape-up {
        display: grid;
        grid-template-columns: repeat(2, min-content);
        grid-column-gap: 8px;
        justify-content: start;
        align-items: center;
    }

    &-gateway,
    &-currency {
        font-size: 16px;
        font-weight: normal;
    }

    &-gateway {
        padding-right: 5px;
        color: $gray-800;

        @include for-tablet-landscape-up {
            grid-column: 1 / span 2;
        }
    }

    &-incoming,
    &-outgoing {
        position: relative;

        &::after {
            @include for-tablet-landscape-up {
                content: '';
                width: 0;
                height: 0;
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                position: absolute;
                left: -8px;
            }
        }
    }

    &-incoming {
        color: $green-500;

        &::after {
            border-bottom: 5px solid $green-500;
        }
    }

    &-outgoing {
        color: $red-500;

        &::after {
            border-top: 5px solid $red-500;
        }
    }
}
