@import '../../base/tools/variables.scss';
@import '../../base/tools/breakpoints.scss';

.transactions-table-category {
    align-self: center;
    display: flex;
    justify-content: space-between;

    @include for-tablet-landscape-up {
        justify-content: flex-start;
    }

    &-text {
        border: 1px solid $purple-600;
        background: $purple-100;
        color: $purple-600;
        padding: 5px;
        border-radius: 4px;
    }
}
