@font-face {
    font-family: 'Inter-Regular';
    src: url('../../assets/fonts/Inter-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter-Bold';
    src: url('../../assets/fonts/Inter-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter-Light';
    src: url('../../assets/fonts/Inter-Light.ttf') format('truetype');
}

@import '../base/generic/normalize.scss';
@import '../base/elements/typography.scss';